<div class="jumbotron">
  <%= form_with(model: subscription, local: true) do |form| %>
    <% if subscription.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

        <ul>
          <% subscription.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "Enter Title/Teller name or Keyword (leave blank to subscribe to all)" %>
      <%= form.text_field :user_entry, :class => "form-control" %>
    </div>

    <br/>

    <div class="field">
      <%= form.label :subscription_type %>
      <%= form.select :subscription_type, Subscription.subscription_types, {}, :class => "form-control" %>
    </div>

    <br/>

    <div class="actions">
      <%= form.submit "Subscribe", :class => "btn btn-primary"%>
    </div>
  <% end %>
</div>
