<p id="notice"><%= notice %></p>

<div class="jumbotron">
	<h1>Subscription Details</h1>
	<p>
	  <strong>User:</strong>
	  <%= @subscription.user.email %>
	</p>

	<p>
	  <strong>Tag:</strong>
	  <% if @subscription.title %>
		  <%= @subscription.title %>
      <% elsif @subscription.teller %>
	  	  <%= @subscription.teller %>
	  <% else %>
	  	  <%= @subscription.keyword %>
      <% end %>
	</p> 

	<p>
	  <strong>Subscription Type:</strong>
	  <%= @subscription.subscription_type %>
	</p>

	<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
	<%= link_to 'Back', subscriptions_path %>
</div>
