<div class="jumbotron">
	<h1>Subscription Details</h1>
	<p>
	  <strong>User:</strong>
	  <%= @subscription.user.email %>
	</p>

	<p>
	  <strong>Tag:</strong>
	  <% if @subscription.title %>
          <td><%= @subscription.title == "" ? "*ALL*" : @subscription.title %></td>
        <% elsif @subscription.teller %>
          <td><%= @subscription.teller == "" ? "*ALL*" : @subscription.teller %></td>
        <% elsif @subscription.keyword %>
          <td><%= @subscription.keyword == "" ? "*ALL*" : @subscription.keyword %></td>
        <% else %>
       <% end %>
	</p> 

	<p>
	  <strong>Subscription Type:</strong>
	  <%= @subscription.subscription_type %>
	</p>

	<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
	<%= link_to 'Back', subscriptions_path %>
</div>
