<div class="jumbotron">
  <%= form_with(model: tell, local: true) do |form| %>
  <% if tell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tell.errors.count, "error") %> prohibited this tell from being saved:</h2>

      <ul>
        <% tell.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :tellerName %>
    <%= form.text_field :tellerName, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :keyword %>
    <%= form.text_field :keyword, :class => "form-control" %>
  </div>

  <div class="actions form-group">
    <%= form.submit "Publish", :class => "btn btn-primary" %>
  </div>
<% end %>
</div>
