<div class="jumbotron">
  <p id="notice"><%= notice %></p>
  <h1>Tell Library</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tellername</th>
      <th>Keyword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tells.each do |tell| %>
      <tr>
        <td><%= tell.title %></td>
        <td><%= tell.tellerName %></td>
        <td><%= tell.keyword %></td>
        <td><%= link_to 'Details', tell, :class => "btn btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_tell_path(tell), :class => "btn btn-secondary" %></td>
        <td><%= link_to 'Delete', tell, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tell', new_tell_path, :class => "btn btn-primary" %>
</div>
