<!DOCTYPE html>
<html>
  <head>
    <title>StorytellingPubSub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar", notificationCount: (current_user ?  current_user.subscriptions.to_a.collect{|v| v.notifications.to_a }.flatten.count : 0) %>
    <% if notice %>
        <p class="alert alert-success mb-0"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-primary mb-0"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
